[submodule "vendor/luau"]
	path = vendor/luau
	url = https://github.com/luau-lang/luau.git
[submodule "vendor/sdl"]
	path = vendor/sdl
	url = https://github.com/libsdl-org/SDL.git
[submodule "vendor/glm"]
	path = vendor/glm
	url = https://github.com/g-truc/glm.git
[submodule "vendor/box3d"]
	path = vendor/box3d
	url = https://github.com/erincatto/box3d.git
[submodule "vendor/magicenum"]
	path = vendor/magicenum
	url = https://github.com/Neargye/magic_enum.git
[submodule "vendor/json"]
	path = vendor/json
	url = https://github.com/nlohmann/json.git
[submodule "vendor/tracy"]
	path = vendor/tracy
	url = https://github.com/wolfpld/tracy.git
[submodule "vendor/argparse"]
	path = vendor/argparse
	url = https://github.com/p-ranav/argparse.git
[submodule "vendor/sdl_ttf"]
	path = vendor/sdl_ttf
	url = https://github.com/libsdl-org/SDL_ttf.git
[submodule "vendor/sdl_image"]
	path = vendor/sdl_image
	url = https://github.com/libsdl-org/SDL_image.git
[submodule "vendor/glaze"]
	path = vendor/glaze
	url = https://github.com/stephenberry/glaze.git
[submodule "vendor/SDL_FontCache"]
	path = vendor/SDL_FontCache
	url = https://github.com/grimfang4/SDL_FontCache.git
[submodule "vendor/msdf-atlas-gen"]
	path = vendor/msdf-atlas-gen
	url = https://github.com/Chlumsky/msdf-atlas-gen.git
