# Build output
build
cmake-build-debug

# CMake
.cache
.fetchcontent-cache

# Lest
.lest

# Luau Package Manager
packages/
.lpm-patch/

# OS
.DS_Store
Thumbs.db

# Codegen
include/gargantuan/classes/generated/
include/gargantuan/services/generated/
include/gargantuan/datatypes/generated/
src/classes/generated/
src/services/generated/
src/datatypes/generated/
